@inherits UmbracoViewPage<SampleFramework.Web.Models.HomePageViewModel>
@{
    Layout = "BasePage.cshtml";
}

@section content{
    <h1>RenderMvc Controller</h1>
    <div id="app">Headline: @Model.Headline</div>
    <div>Create Date: @Model.CreateDate</div>
    <div>Creator: @Model.Creator</div>
    <div>Document Type: @Model.DocumentTypeId</div>
    <div>Document Type Alias: @Model.DocumentTypeAlias</div>
    <div>Id: @Model.Id</div>
    <div>Key: @Model.Key</div>
    <div>Node name: @Model.NodeName</div>
    <div>Path: @Model.Path</div>
    <div>Update Date: @Model.UpdateDate</div>
    <div>Sort Order: @Model.SortOrder</div>
    <div>Version: @Model.Version</div>
    <div>Level: @Model.Level</div>

    <h1>Surface Controller</h1>

    @if (TempData["success"] == null)
    {
        using (Html.BeginUmbracoForm("Subscribe", "NewsletterSurface"))
        {
            <label>Email adress</label>
            <div>
                @Html.TextBox("email", "test@test.com")
            </div>
            <div>
                <input class="CommonFormBtn" type="submit" title="Submit" value="Submit"/>
            </div>
        }
    }
    else
    {
        <h2>Thank you very much for you subscription!</h2>
    }

    <br/>
    <br/>
    <br/>
    <h1>Umbraco Api Controller</h1>
    <button onclick="javascript: newsletterManager.getNewsletters();">Get all submitted Newsletters</button>
    <ul id="resultsList">
    </ul>
}

@section head{

    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script>

        var NewsletterManager = function(options) {
            var getNewsletters = function() {
                $.ajax({
                    type: options.requestType,
                    url: options.url,
                    data: {}
                }).done(function(data) {
                    console.log(data);
                    $(options.contentElement).empty();
                    $.each(data, function(key, newsletter) {
                        $(options.contentElement).append("<li>" + newsletter.Email + "</li>");
                    });
                });
            }

            return {
                getNewsletters: getNewsletters
            }
        };

        var newsletterManager = new NewsletterManager({
            contentElement: '#resultsList',
            requestType: 'GET',
            url: '/umbraco/api/NewsletterApi/GetNewsletters'
        });

    </script>
}